<div class="row">
    <div class="col-xs-12">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Title:</strong>
          <%= @to_do.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @to_do.description %>
        </p>

        <p>
          <strong>Done:</strong>
          <%= @to_do.done %>
        </p>

        <%= link_to 'Edit', edit_to_do_path(@to_do), {class: "btn btn-info"} %>
        <%= link_to 'Back', to_dos_path, {class: "btn btn-default"} %>
    </div>
</div>